{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mt-5">
    {% for x in products %}
    <div class="col-md-6">
        <img src="{{x.pimage.url}}" width="100%" height="220px">
    </div>
    <div class="col-md-6">
        <p><strong>Product Name:</strong>{{x.name}}</p>
        <p><strong>Product Price:</strong>{{x.price}}</p>
        {% if x.cat == 1 %}
        <p><strong>category</strong>Mobile</p>
        {% elif x.cat == 2 %}
        <p><strong>category</strong>shoes</p>
        {% else %}
        <p><strong>category</strong>cloths</p>
        {% endif %}
        <p><strong>Product description:</strong>Good Product</p>
        <a href="/addcart/{{x.id}}"><button class="btn btn-danger">Add to cart</button></a>
        <a href="/viewcart"><button class="btn btn-danger">Viewcart</button></a>
        <a href="/index"><button class="btn btn-danger">shop_more</button></a>
        <br>
        {% if success %}
        <div class="alert alert-success">
            {{success}}
        </div>
        {% endif %}

        {% if msg %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock 'main' %}